<?xml version='1.0' encoding='UTF-8'?>
<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0" 
	xmlns:cdv="http://cordova.apache.org/ns/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	id="com.pdrcontractors.app" 
	version="1.0.18" 
	android-versionCode="42"
>
<preference name="phonegap-version" value="cli-7.1.0" /> 
<preference name="android-build-tool" value="gradle" /> 
<name>PDR Contractors</name>
<author>VisualVoice</author>
<content src="index.html"/>
<access origin="https://pdrcontractors.com/*"/>
<access origin="http://*.mapbox.com/*"/>
<access origin="http://*.*.mapbox.com/*"/>
<access origin="https://*.mapbox.com/*"/>
<access origin="https://*.*.mapbox.com/*"/>
<access origin="mailto:*" launch-external="true"/>
<allow-intent href="http://*/*"/>
<allow-intent href="http://*/*"/>
<allow-intent href="file://*/*"/>
<allow-intent href="https://*/*"/>
<allow-intent href="mapbox:*"/>
<allow-intent href="tel:*"/>
<allow-intent href="sms:*"/>
<allow-intent href="mailto:*"/>
<allow-intent href="geo:*"/>
<allow-intent href="market:*"/>
<icon src="package-assets/icon.png"/>
<splash src="package-assets/splash1.png"/>
<plugin name="cordova-plugin-statusbar" spec="2.1.3" />
<plugin name="cordova-plugin-device" spec="1.1.2" />
<plugin name="cordova-plugin-splashscreen" spec="3.2.2" />
<plugin name="cordova-plugin-whitelist" spec="1.2.2" />
<plugin name="cordova-plugin-geolocation" />
<preference name="android-minSdkVersion" value="19"/>
<preference name="android-targetSdkVersion" value="21"/>
<preference name="android-installLocation" value="auto"/>
<preference name="android-signed" value="true"/>
<preference name="splashscreen" value="splash"/>


<platform name="ios">
    <!-- below requires the splash screen plugin -->
    <!-- docs: https://github.com/apache/cordova-plugin-splashscreen -->
    <preference name="AutoHideSplashScreen" value="false"/>
    <preference name="FadeSplashScreen" value="false"/>
    <preference name="FadeSplashScreenDuration" value="2"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>

    <!-- below requires the status bar plugin -->
    <!-- docs: https://github.com/apache/cordova-plugin-statusbar -->
    <!-- see http://devgirl.org/2014/07/31/phonegap-developers-guid -->
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="StatusBarStyle" value="lightcontent"/>
</platform> 
<platform name="android">
    <!-- below requires the splash screen plugin -->
    <!-- docs: https://github.com/apache/cordova-plugin-splashscreen -->
    <preference name="SplashMaintainAspectRatio" value="false"/>
	<preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
	<preference name="FadeSplashScreen" value="false"/>
	<meta-data android:name="android.max_aspect" android:value="2.1" />
</platform>
<preference name="BackgroundColor" value="0x00000000" />
<edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</edit-config>
<edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
    <activity android:launchMode="singleTop" />
    <activity android:debuggable="true" />
</edit-config>
</widget>
