*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

*
{
-webkit-touch-callout: none;
-moz-touch-callout: none;
-ms-touch-callout: none;
touch-callout: none;
}

*{
-webkit-user-drag: none;
-moz-user-drag: none;
-ms-user-drag: none;
user-drag: none;
}

:root{
	--shadow-on-gray: 0 0 30px rgba(0,0,0,.2);
	--shadow-on-blue: 0 0 40px rgba(0,0,0,.35);
}
head,
body{
	margin:0;
	padding:0;
}
body{
	background: linear-gradient(#FFF, #D2D4D3) fixed;
	background: linear-gradient(#17668D, #043E5E) fixed;
	min-height:500px;
}
.ios-fixed-fix{
	position:fixed;
    top:-1px; 
    height:1px; 
    width:100%; 
    background:white;
}
a,
button,
input[type="submit"],
input[type="button"]{
	text-transform: uppercase;
}
main{
	width:100vw;
	top:0;
	left:0;
	min-height:100vh;
	position:absolute;
}

main:not(.active),
section:not(.active),
.rollup .content:not(.active){
	display:none;
}


#login{
	background: var(--blue) radial-gradient(335px, #70ced8 , var(--blue)) no-repeat;
    background-position: 0 -13vh;
}
#login .logo{
	height: 35vh;
    margin: 10vh auto;
	background: url(logo-compressor.png) no-repeat center center;
    background-size: contain;
	max-width: 232px;
}
#login form{
	display:block;
	background-color: white;
	padding: 20px;
	margin: auto;
	width: 80%;
	max-width:300px;
	box-shadow: var(--shadow-on-gray);
}
main>nav{
	position:fixed;
	top:30px;
	left:15px;
	right:0;
	text-align:right;
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
	background: linear-gradient(to right, #FFF, #D2D4D3);
	height:60px;
	line-height: 60px;
	box-shadow: 0 15px 20px rgba(0,0,0,.2);
	z-index:9999;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
}
main>nav:before{
	content: "";
	background-image: url(logo.png);
	position:absolute;
	left: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	background-size:contain;
}
main>nav a{
	padding:5px;
	color: #5B5D5E;
	font-weight: bold;
}
main>nav a.active{
	color: var(--blue);
}
#mapVendorResults div.nav{
	width: 100%;
	overflow: auto;
}
#mapVendorResults div.nav i{
	text-decoration: none;
}

article.useGPS{
	height: 33vh;
	display:flex;
	align-items:center;
	justify-content: center;
    top: 90px;
    width: 100vw;
    left: 0;
	position:fixed;
	min-height:155px;
}
article.useGPS button{
	background: var(--green) url(gps_icon.png) 10px center no-repeat;
	background-size:30px;
	padding:20px;
	padding-left:50px;
	border-radius:20px;
	color: white;
	font-weight: bold;
	border:0;
	box-shadow: var(--shadow-on-blue);
	
}
article.box{
	background-color:white;
	box-shadow: var(--shadow-on-blue);
	padding:10px 0;
	position: relative;
	margin: auto;
    margin-top: 250px;
	margin-bottom:30px;
    min-height: calc(55vh - 30px);
	max-width: 1200px;
}
@media (min-height:500px){
	article.box{
		margin-top: 45vh;
	}
}
article.box .rollup{
	border-top: 1px solid #C4C0C1;
	border-bottom: 1px solid #C4C0C1;
	margin: 10px 0;
	padding:5px 10px;
}
article.box .rollup>a{
	color: inherit;
	font-weight:bold;
	display:block;
	position: relative;
	text-decoration: none !important;
}
article.box .rollup>a:after{
	content: ">";
	position: absolute;
	right: 5px;
	transition: transform .2s;
}
article.box .rollup>a.active:after{
	transform: rotate(90deg);
}
article.box .rollup .content{
	padding: 10px;
	padding-top:30px;
}


.vendorMapSearch{
	text-align:center;
	padding-top:30px;
}
.refineSearchBox{
	display:none;
	text-align:left;
	padding: 10px;
}
.vendorMap{
	padding:0 !important;
}
.vendorMap .bgBlue{
	padding-top:65px !important;
}
#vendorsMap{
	box-shadow: var(--shadow-on-blue);
	height: 66%;
}
#mapVendorResultsList{
	background-color: white;
	max-height: none;
}
#mapVendorResultsList a.favorite{
	position: static !important;
    text-align: center;
    margin-bottom: 30px;
} 

#map input[type="submit"]{
	margin-top:5px !important;
	padding:10px !important;
}
#map .refineSearch{
	display:block;
	padding-top:20px;
}
#mapVendorResultsList{
	max-height: 3805px !important;
}
#mapVendorResultsList>div img{
	float:none !important;
	margin: auto !important;
	margin-bottom: 20px !important;
	display:block;
}
.bgBlue{
	background-color: transparent !important;
}
.bgBlue:after, .bgGreen:after, .bgYellow:after, .bgGray:after{
	display:none !important;
}

.simpleChecker_filler{
	width: 100px !important;
}
.simpleChecker_handler,
.simpleChecker_fillerLeft,
.simpleChecker_fillerRight{
	width: 50px !important;
}

#map .legend{
	position:absolute;
	bottom:25px;
	right:20px;
	font-size:x-small;
	font-weight:bold;
	background:rgba(255,255,255,.8);
	padding: 2px; 
	border-radius: 5px;
}
#map .legend img{
	width: 30px;
}
@media (min-width:960px){
	#map .vendorMap h2{
		display:inline;
		padding-left:45px;
		padding:0;
		font-size:35px;
	}
	#map .vendorMap h2:after{
		content: "\00a0\00a0|\00a0\00a0"; /*&nbsp;&nbsp;|&nbsp;&nbsp;*/
	}
	#map .vendorMap .bgBlue.mid{
		text-align:left;
	}
	#map .vendorMap .bgBlue.mid br{
		display:none;
	}
	#map .vendorMap .bgBlue.mid input[type="submit"]{
		margin:0px !important;
	}
}
@media (max-width:960px){
	#map .legend{
		position: static;
		margin: 10px;
		padding: 5px;
	}
	#map .legend tbody{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#map .legend table,
	#map .legend tr{
		display: block;
	}
	#map .legend td{
		display: inline-block;
	}
}

#businessOptionsContainer fieldset{
	border-bottom: 1px solid silver;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#businessOptionsContainer fieldset>div {
    display: flex;
	flex-direction: column-reverse;
}

.marker-cluster{
	background-image: url(imgs/pins/cluster.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin-top: -24px !important;
    margin-left: -9px !important;
    width: 18px !important;
    height: 24px !important;
    color: var(--blue);
	padding-top: 0px;
	font-size: 8px;
    font-weight: bold;
}